{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/bootstrap-grid.min.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    {% block customCss %}{% endblock %}
    
    <title>{% block title %}{% endblock %}</title>

</head>
<body class="container">
    <nav class="navbar navbar-light navbar-expand-md fixed-top " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">E-TROPI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/cek_item/">CHECK ITEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cek_peta/">COUNTRY FROM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_item/">ABOUT ITEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/compare_item/">COMPARE ITEM</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}


</body>
</html>