{% extends "general/base.html" %}
{% load static %}

{% block title %}Check Item{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{% static 'cek_item/css/cek_item.css' %}">
{% endblock %}

{% block content %}
<div class="container mid">
    <div class="row mid-ver height">
        <form enctype="multipart/form-data" action="." method="post">
            <br>
            <br>
            <br>
            {% csrf_token %}
            <br>
            <br>
            {{ form.as_p }}
            <br>
            <br>

            <button class="button" type="submit" class="btn">Upload</button>
        </form>
        <hr>
    </div>

    {% if img_data %}
        <div class="row mid-ver height">
            <div class="mid loc">
                <h3 class="udr"> Your Item </h3>
                <span><img class="bag-img preview_photo" src={{ img_data.ObjectPhoto.url }}></span>
            </div>
            <div class="mid"><h3>The item is {{ img_data.Genuine }}</h3></div>


        </div>


        <div class="row mid-ver height">

            {% ifequal img_data.Genuine "Genuine" %}
                <div class="mid"><h3 class="udr">The item is also used by </h3>
                </div>
                <br/>

                <div class="row wrapper">
                    {% for celebs in img_data.Celebrities.all %}
                        <div class="col-md-3 col-sm-6">
                            <img class="celebrity_photo" src={{ celebs.Photo.url }} title = {{ celebs.Name }} >
                        </div>
                    {% endfor %}
                </div>
                <hr>

            {% endifequal %}

        </div>

    {% endif %}


    <div class="row mid-ver height">
        <h3 class="udr">History </h3>

        <div class="row wrapper">
            {% for hist_data in history %}
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'hist_cek_item' hist_data.id %}">
                        <img class="history_photo" src={{ hist_data.ObjectPhoto.url }}>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
