{% extends "general/base.html" %}
{% load static %}

{% block title %}Check Item{% endblock %}


{% block customCss %}
<style>
	body {
	    font-family: 'Open Sans', sans-serif;
	}

	.history_photo {
	    width: 6em;
	}

	.preview_photo {
	    max-width: 15em;
	    max-height: 15em;
	}

	.button {
	    background-color: #7E685A;
	    border-radius: 10px;
	    font-size: 20px;
	    color: #FFFFFF;
	    padding: 20px;
	    width: 150px;
	    text-align: center;
	    -webkit-transition-duration: 0.4s; /* Safari */
	    transition-duration: 0.4s;
	    text-decoration: none;
	    overflow: hidden;
	    cursor: pointer;
	}

	.mid {
	    text-align: center;
	}

	.height {
	    padding-bottom: 20vh;
	}

	.bag-img {
	    width: 40vw;
	}

	.mid-ver {
	    display: block;
	    height: 100%;
	    vertical-align: middle;
	}

	.udr {
	    text-decoration: underline;
	}

	hr {
	    margin-top: 100px;
	}

	.wrapper {
	    display: grid;
	    grid-template-columns: repeat(7, 3fr);
	    width: 5%;
	    align-items: center;
	}
	
	.loc{
	    padding-right: -100px;
	}

	@media (max-width: 1000px) {

	    .wrapper {
	        display: grid;
	        grid-template-columns: repeat(3, 3fr);
	        width: 5%;
	        align-items: center;
	    }

	}

</style>
{% endblock %}

{% block content %}
<div class="container mid">
	<h3 class="udr">UPLOAD ITEM FOR DETAILS</h3>
    <div class="row mid-ver height">
        <form enctype="multipart/form-data" action="." method="post">
            <br>
            <br>
            <br>
            {% csrf_token %}
            <br>
            <br>
            {{ form.as_p }}
            <br>
            <br>

            <button class="button" type="submit" class="btn">Upload</button>
        </form>
        <hr>
    </div>

    {% if img_data %}
        <div class="row mid-ver height">
            <div class="mid col-md-6">
                <h3 class="udr"> DETAILS </h3>
                <span><img class="bag-img preview_photo" src={{ img_data.ObjectPhoto.url }}></span>
            </div>
            <div class="mid col-md-6">
	   			<h4>MATERIAL : {{ img_data.material }}</h4>
	   			<h4>PRICE : Rp.{{ img_data.price }}</h4>
	   			<h4>YEAR RELEASED : {{ img_data.year }}</h4>
	   		</div>
	   		<hr>
        </div>
	{% endif %}


    <div class="row mid-ver height">
        <h3 class="udr">HISTORY</h3>

        <div class="row wrapper">
            {% for hist_data in history %}
                <div class="col-md-2 col-sm-4">
                    <a href="{% url 'history_about_item' hist_data.id %}">
                        <img class="history_photo" src={{ hist_data.ObjectPhoto.url }}>
                    </a>
                </div>

            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}