body {
    font-family: 'Open Sans', sans-serif;

}

.celebrity_photo {
    width: 6em;

}

.history_photo {
    width: 6em;
}

.preview_photo {
    max-width: 15em;
    max-height: 15em;
}

.button {
    background-color: #7E685A;
    border-radius: 10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.button:after {
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.mid {
    text-align: center;
}

.height {
    padding-bottom: 20vh;


}

.bag-img {
    width: 40vw;

}

.mid-ver {
    display: block;
    height: 100%;
    vertical-align: middle;
}

.udr {
    text-decoration: underline;
}

hr {
    margin-top: 100px;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 3fr);
    width: 5%;
    align-items: center;
}
.loc{
    padding-right: -100px;
}

@media (max-width: 1000px) {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        width: 5%;
        align-items: center;
    }

}

