{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block custom_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body class=>
    <nav class="navbar navbar-light navbar-expand-md sticky-top " style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">E-TROPI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'landing_page' %}">CHECK ITEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">COUNTRY FROM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">ABOUT ITEM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{% url 'compare:compare_item' %}">COMPARE ITEM</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="carouselParent" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'carousel/a.png' %}" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'carousel/a.png' %}" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'carousel/a.png' %}" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselParent" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselParent" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container">
        
        {% block content %}{% endblock %}
    
        <section class="history row">
            {% for history in history %}
                <div class="col-md-2 history-item">
                    <a href="{% url 'compare:display_item' history.id %}"><img src="{{ history.ObjectPhoto.url }}" alt=""></a>
                </div>
            {% endfor %}
        </section>
    </div>
    <section class="footer row">
        <div class="col-md-12 logo-cont">
            <div class="row">
                <div class="col-md-4">
                    <!-- ISI LOGO -->
                    <a href="#"><img src="{% static 'base/twitter.svg' %}" alt=""></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="{% static 'base/instagram.svg' %}" alt=""></a>
                </div>
                <div class="col-md-4">
                    <a href="#"><img src="{% static 'base/gmail.svg' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-md-12 copyright">
            <p><strong>Copyright 2019</strong></p>
        </div>
    </section>

</body>
</html>