{% extends "compare_item/base.html" %}
{% load static %}

{% block title %}
    Compare Item
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'compare_item/style.css' %}">
{% endblock %}

{% block content %}
    <section class="compare container block" >
        <div class="row">
            <div class="col-md-12 form">
                {% if not form %}
                    NO FORM
                {% endif %}
                <form enctype="multipart/form-data" action="." method="post">
                       {% csrf_token %}
	   	        	{{ form.as_p }}
	   		        <button type="submit" class="btn">Compare!</button>
	   	        </form>
            </div>
        </div>
        {% if img_data %}
            <div class="row">
                <div class="col-md-12">
                    <h3>The item is {{ img_data.Genuine }}!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img class = "preview_photo" src="{{ img_data.ObjectPhoto.url }}">
                </div>
            </div>

                {% if img_data.Genuine == "Genuine" %}
                <div class="row show-item">
                    <div class="col-md-3">
                        <h4><strong>Brand</strong></h4>
                        <p>{{ img_data.Brand }}</p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Price</strong></h4>
                        <p>${{ img_data.Price }}</p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Release Date</strong></h4>
                        <p>{{ img_data.Release_date }}</p>
                    </div>
                    <div class="col-md-3">
                        <h4><strong>Location</strong></h4>
                        <p>{{ img_data.Brand }}, {{ img_data.Location }}</p>
                    </div>          
                </div>
                {% endif %}
    	{% endif %}
        <div class="row">
            <div class="col-md-12 check-other">
                <a href="{% url 'compare:compare_item' %}"><button type="button" class="btn btn-outline-primary">COMPARE OTHER ITEM</button></a>
            </div>
        </div>
    </section>
{% endblock %}