{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>{% block title %}Check Map{% endblock %}</title>


    <script src="http://code.jquery.com/jquery.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $('#Carousel').carousel({
                interval: 9000
            });
        });
    </script>
</head>
<body>
<div id="Carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <li data-target="#Carousel" data-slide-to="1"></li>

    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img class="d-block w-100" src="{% static 'carousel/a.png' %}">
        </div>
        <div class="item">
            <img class="d-block w-100" src="{% static 'carousel/E.png' %}">
        </div>
    </div>

    <a class="left carousel-control" href="#Carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#Carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="container block">

    <div class="row height">
        <div class="padtop">
            {% if not form %}
                TIDAK ADA FORM!!
            {% endif %}
            <form enctype="multipart/form-data" action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">UPLOAD</button>
                <h6>Upload item here</h6>
            </form>
        </div>


    </div>

    {% if img_data %}
        <div class="height">
            <h3> Your Item </h3>
            <img class="bag-img" src={{ img_data.ObjectPhoto.url }}>
        </div>




        <div class="row height padtop2">
            <h3>Result</h3>
            <img class="map col-lg-5" src= {{ img_data.map.mapPict.url }}>
            <div class="col-lg-3"><img class="arrow" src="{% static 'arrow.png' %}"></div>

            <img class="map col-lg-4" src={{ img_data.map.cityPict.url }}>


        </div>
        <div class="row">
            <p>The item is originated from <br>
                <span style="font-weight: bold;font-size: 2em"> {{ img_data.map.city }}, {{ img_data.map.map }}</span>
            </p>
        </div>



    {% endif %}

</div>


</body>
</html>





