body{
    max-width: 100%;
    scroll-behavior: smooth;
}

section{
    margin: 0 !important;
}

nav {
    max-width: 100%;
}

.compare *{
    text-align: center;
}
.compare .preview_photo {
    max-width: 20%;
}

.compare div {
    text-align: center;
    padding-top: 3%;
}

.compare .show-item h4{
    background-color: #9dbbd1;
}

.compare .show-item p{
    background-color: #e3f2fd;
}

.compare .check-other {
    padding-bottom: 5%;
}

.footer {
    margin-top: 3vh !important;
    padding-top: 3%;
    max-width: 100%;
    background-color: #e3f2fd;
}

.footer .logo-cont {
    margin: auto;
    max-width: 80%;
}

.footer img {
    max-width: 15%;
}

.footer div {
    text-align: center;
}

.footer .copyright{
    padding-top: 2%;
}

.history div {
    max-width: 8%;
    padding-top: 2vh;
    padding-bottom: 3vh;
}

.history img {
    max-width: 100%;
}